html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background: rgba(41, 41, 41);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
main,
footer{
  display: flex;
  width: 100%;
  min-height: 4rem;

  justify-content: center;
}

header{ display: flex }

h1 {
  margin: auto;

  /* font-family: sans-serif; */
  font-family: fangsong;
  font-size: 2.5rem;
  color: lightgray;
}

canvas {
  border-radius: 1rem 1rem;
}

button {
  width: 25%;
  height: 3.5rem;

  border-style: none;
  border-radius: 10px 10px;

  font-size: 1.5rem;
}
